<div class="pt-5">
    {% for entry in meta.entries %}
        <div>
            <a href="{{ entry.link }}" class="text-black no-underline hover:text-amber-800">
                {{ entry.title }}
            </a>
            <div>
                {% assign first_p = entry|first_block_of_kind:"p" %}
                {% render_block first_p %}
            </div>
        </div>
    {% endfor %}
</div>
{% if meta.prev_page_link %}
    <div>
        <a href="{{ meta.prev_page_link }}">
            previous
        </a>
    </div>
{% endif %}
{% if meta.next_page_link %}
    <div>
        <a href="{{ meta.next_page_link }}">
            next
        </a>
    </div>
{% endif %}
